
*,*::after,*,*::before{
    box-sizing: border-box;
}
*{
    margin:0;
    padding: 0;
}
body{
    font-family:sans-serif;
}
#bloc-page{
    margin:0 auto;
    padding: 0;
    max-width: 1300px;
   
}
.loadeerr{
    height: 100vh;
    background-color:white;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    opacity:0.9;
    z-index:10;
    animation:charger 1s linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    transform-origin: top;
    place-items: center;
    display:flex;
   /* align-items: center;*/
    justify-content: center;
}
.lettre{
    color:#9356DC;
    letter-spacing:15px ;
    font-size: 80px;
    margin-bottom: 150px;
    animation:chargement 2s linear ;
}
.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 1s;
}
@keyframes chargement{
    0%{
        color:#FF79DA;
        box-shadow: 0,0,10px #FF79DA;
    }
    90%{
        color:#99E2D0;
        box-shadow:none;
    }
    100%{
        color: #9356dc;
        box-shadow: 0,0,10px #FF79DA;

    }
}
/*.fa-circle-o{
    color: #9356DC;
    background:#FF79DA;
}*/
@keyframes charger{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}
  


/*--l'en tete--*/
header{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-family: 'Shrikhand', cursive;
}
header img{
    width: 25%;
}
/*--fin de l'en tete--*/
.text{
    font-family: 'Roboto', sans-serif;
}
.location{
    text-align: center;
    height: 4vh;
    background:darkgrey;
    font-size: 15px;
    padding-top: 7px;
}
.information{
    text-align: center;
    height: 24vh;
    padding-top: 20px;
    background:#f2f2f2;
    font-size:10px ;
}
em{
    font-size: 15px;
}
button{
    margin-top: 15px;
    border-radius: 20px;
    width: 50%;
    height: 4vh;
    cursor: pointer;
    background: linear-gradient(#FF79DA,#9356DC);
    transition: all  1000ms;
  /* filter: alpha(opacity=0);*/
    color:white;
    border: none;
    font-size: 15px;
    opacity: 0.85;
    
}
button:hover{
    opacity:1;
    /*filter: alpha(opacity=0.5);*/
    box-shadow: 5px 5px;
}
h2{
    margin-top: 20px;
    font-size: 20px;
}
.main h2{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 15px;

}
 nav ul {
     list-style-type: none;
     margin-top: 25px;
     /*text-align:center;*/
 }
 nav ul li{
     width: 90%;
     border-radius: 25px;
     border:none;
     height: 8vh;
     padding-top: 20px;
     position: relative;
     background: #f2f2f2;
     text-align: center;
     transition: all background color 1000ms;
     
     color:black;
     font-size: 20px;
 }
 nav ul li:hover{
     background:#E6E6FA; 
     color:black;  
}
 nav ul li i{
     margin-right: 35px;
     transition: all color 1000ms;

 }
 nav ul li:hover i{
     color:#9356DC;
 }

 /*nav ul li:nth-child(3){
     background: #FF79DA;
 }*/
 nav ul li:first-child::before{
     content:"1";
     width:30px;
     height:30px ;
     position: absolute;
     border-radius: 50%;
     left:-1%;
     /*background: #9356DC;*/
     text-align: center;
     padding-top: 4px;
     margin-top:-0.25%;
     color:white;
     border:none;



 }
 nav ul li:nth-child(2)::before{
    content:"2";
    width:30px;
     height:30px;
    position: absolute;
    border-radius: 50%;
    border:none;
    left:-1%;
   /* background: #9356DC;*/
    text-align: center;
    padding-top: 4px;
    margin-top:-0.25%;
    color:white;
 }
 nav ul li:nth-child(3)::before{
    content:"3";
    width:30px;
     height:30px ;
    position: absolute;
    border-radius: 50%;
    border:none;
    left:-1%;
   /* background: #9356DC;*/
    text-align: center;
    padding-top: 4px;
    margin-top:-0.25%;
    color:white;
 }
   
 section{
     width: 100%;
     height:190vh;
     padding-top: 20px;
     padding-right: 10px;
     padding-left:10px;
     background: #f2f2f2;
 }
 .menu{
     flex-direction: column;
     gap:15px;

     
     

 }
 article{
     width: 100%;
     background: white;
     height: 40vh;
     border-radius:25px;
     margin-top: 15px;
     position: relative;

 }
 article img{
     width: 100%;
     object-fit: cover;
     height:30vh;
     border-radius:25px 25px 0px 0px;
 }
 #nouveau:first-child::before{
    content:"Nouveau";
    width: 20%;
    border:2px solid transparent;
   background:#99E2D0;
   right: 3%;
    top:25px;
    position:absolute;
    text-align: center;
    color:black;
 }
 /*--coeur--*/
 .properties-menu{
     margin-top: 5px;
     margin-left: 8px;
     position:relative;    
 }
 .coeur{
     position:absolute;
     right: 15px;
     top: -1px;
     margin-top: 15px;
 }
 .coeur .di{
    background-color:white;
    width:16px;
    height:16px;
    transform:rotate(45deg);
    transition:background 3s;
    display:block;
    position: relative;
   
  }
  .coeur .di::before{
    width:100%;
    height:100%;
    content:"";
   top:-50%;
    background:white;
    border-top-left-radius:100%;
    border-top-right-radius:100%;
    position:absolute;
    transition:background 4s;
  }
  .coeur .di::after{
    width:100%;
    height:100%;
    content:"";
   left:-50%;
    background:white;
    border-bottom-left-radius:100%;
    border-top-left-radius:100%;
    position:absolute;
  }
 .coeur .fa-heart-o{
    position:absolute;
    z-index:5;
    font-size: 23px;
    left: -4px;
    right:0;
    top:0;
   color:black;
  }
  .coeur:hover .di{
    background-image: linear-gradient(#9356DC, #FF79DA);
    z-index:90;
  }
  .coeur:hover .di::before{
    background-image: linear-gradient(#9356DC, #FF79DA);  
  }
  .coeur:hover .di::after{
    background-image: linear-gradient(#9356DC, #FF79DA);
  }
/*---fin des coeurs---*/
a{
    text-decoration: none;
}
 .properties-menu h3{
     margin-top: 7px;
     color: black;

 }
 .properties-menu span{
     color:black;
     margin-top: 4px;
 }
 /*----footer---*/
 .footer{
     width:100%;
     font-size: 20 px;
     background:#2A303D;
     color:white;
     padding: 15px;
     gap:7px;
 }
 h4 em{
     font-size: 25px;
 }
 p{
     font-size: 15px;

 }
 .footer span:nth-child(2){
     margin-left: 15px;    
 }
 .pied-page{
     display:flex;
    font-size: 15px;
    margin-top:15px;
 }
 .footer p:nth-child(3){
    margin-left:16px;    
}
.pied2{
    display:flex;
    font-size: 15px;
}
.footer a{
    font-size: 15px;
    color:white; 
}

