*,*::after,*,*::before{
    box-sizing: border-box;
}
*{
    margin:0;
    padding: 0;
}
body{
    font-family:sans-serif;
}
#bloc-page{
    margin:0 auto;
    padding: 0;
    max-width: 767px;
}
/*----header----*/
header{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-family: 'Shrikhand', cursive;
}
header img{
    width: 20%;
}
/*---fin du header---*/
/*---main de la page----*/
.text{
    font-family: 'Roboto', sans-serif;
}
.location{
    text-align: center;
    height: 3vh;
    background:darkgrey;
    font-size: 10px;
    padding-top: 7px;
}
.information{
    text-align: center;
    height: 18vh;
    padding-top: 20px;
    background:#f2f2f2;
    font-size:7px ;
}
em{
    font-size: 10px;
}
button{
    margin-top: 15px;
    border-radius: 20px;
    width: 50%;
    height: 3vh;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 43%);
    transition: all opacity 1000ms;
    filter: alpha(opacity=1);
    color:white;
}
button:hover{
    opacity:0.5;
     filter: alpha(opacity=0.5);
    box-shadow: 10px 10px;

}
h2{
    margin-top: 20px;
    font-size: 15px;
}
 nav ul {
     list-style-type: none;
     margin-top: 25px;
     text-align:center;
 }
 nav ul li{
     margin-bottom: 15px;
     border:2px solid black;
     width: 90%;
     border-radius: 25px;
     margin-left: 10px;
     height: 5vh;
     padding-top: 7px;
     position: relative;
     background: #f2f2f2;
 }
 nav ul li i{
     margin-right: 35px;
 }

 nav ul li:nth-child(3){
     background: #FF79DA;
 }
 nav ul li:first-child::before{
     content:"1";
     width: 7%;
     position: absolute;
     border:2px solid black;
     border-radius: 50%;
     left:-18px;
     background: #9356DC;


 }
 nav ul li:nth-child(2)::before{
    content:"2";
    width: 7%;
    position: absolute;
    border:2px solid black;
    border-radius: 50%;
    left:-18px;
    background: #9356DC;
 }
 nav ul li:nth-child(3)::before{
    content:"3";
    width: 7%;
    position: absolute;
    border:2px solid black;
    border-radius: 50%;
    left:-18px;
    background: #9356DC;
 }
 section{
     width: 100%;
     height:190vh;
     padding-top: 20px;
     padding-right: 10px;
     padding-left:10px;
     background: #f2f2f2;
 }
 .menu{
     flex-direction: column;
     gap:15px;

 }
 article{
     width: 100%;
     background: white;
     height: 40vh;
     border-radius:25px;
     margin-top: 15px;
     position: relative;

 }
 article img{
     width: 100%;
     object-fit: cover;
     height:30vh;
     border-radius:25px 25px 0px 0px;
 }
 #nouveau:first-child::before{
    content:"Nouveau";
    width: 20%;
    border:2px solid transparent;
   background:#99E2D0;
   right: 3%;
    top:25px;
    position:absolute;
    text-align: center;
 }
/*coeur*/
 .properties-menu{
     margin-top: 5px;
     margin-left: 8px;
     position:relative;    
 }
 .coeur{
     position:absolute;
     right: 15px;
     top: -1px;
     margin-top: 15px;
 }
 .di{
    background-color:white;
    width:16px;
    height:16px;
    transform:rotate(45deg);
    transition:background 3s;
    display:block;
    position: relative;
   
  }
  .di::before{
    width:100%;
    height:100%;
    content:"";
   top:-50%;
    background:white;
    border-top-left-radius:100%;
    border-top-right-radius:100%;
    position:absolute;
    transition:background 4s;
  }
  .di::after{
    width:100%;
    height:100%;
    content:"";
   left:-50%;
    background:white;
    border-bottom-left-radius:100%;
    border-top-left-radius:100%;
    position:absolute;
  }
  .fa-heart-o{
    position:absolute;
    z-index:5;
    font-size: 23px;
    left: -4px;
    right:0;
    top:0;
   color:black;
  }
  .coeur:hover .di{
    background-image: linear-gradient(#9356DC, #FF79DA);
    z-index:90;
  }
  .coeur:hover .di::before{
    background-image: linear-gradient(#9356DC, #FF79DA);  
  }
  .coeur:hover .di::after{
    background-image: linear-gradient(#9356DC, #FF79DA);
  }
/*----------*fin des coeurs*/
a{
    text-decoration: none;
}
 .properties-menu h3{
     margin-top: 7px;
     color: black;

 }
 .properties-menu span{
     color:black;
     margin-top: 4px;
 }
 /*----footer---*/
 .footer{
     width:100%;
     font-size: 20 px;
     background:#2A303D;
     color:white;
     padding: 15px;
     gap:7px;
 }
 h4 em{
     font-size: 15px;
 }
 p{
     font-size: 10px;

 }
 .footer span:nth-child(2){
     margin-left: 8px;    
 }
 .pied-page{
     display:flex;
    font-size: 10px;
    margin-top:15px;
 }
 .footer p:nth-child(3){
    margin-left:16px;    
}
.pied2{
    display:flex;
    font-size: 10px;
}
.footer a{
    font-size: 10px;
    color:white; 
}


