  *,*::after,*,*::before{
    box-sizing: border-box;
}
*{
    margin:0;
    padding: 0;
}
body{
    font-family:serif;
}
#bloc-page{
    margin:0 auto;
    padding: 0;
    max-width: 1300px;
    height: 205vh;
    position: relative; 
   /* background: red;*/
}/*l'en tete*/
.header{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-family: 'Shrikhand', cursive;
    position: relative;
}
.fa-arrow-left-long{
   position: absolute;
   left:10px;
   color:black;
   top:15%;
}
/*.header img{
   /* width:250px;*/
   /* font-size:150px;
}/*milieu de la page*/
/*.loader{
    border:0.5px  white;
   
    animation:spin 3s;
}
@keyframes spin{
    0%{
        transform:translatey(0px);
        
    
    }
    50%{
        transform:translatey(20px);
        
    
    }
    100%{
        transform: translate(0px);
        
    
    }

}*/
.section{
    width: 100%;
   /* height: 200vh;*/
    margin-top: 15px;
   /* position: relative;*/
    background-color:red;
}
.section img{
    width: 100%;
    object-fit: cover;
    height:70vh;
    /*position: relative;*/
}
.palette{
    width:100%;
    height:150vh ;

    padding-left:5%;
    /*padding-right:5%;*/
    background: #f2f2f2;
    border-radius: 50px 50px 0px 0px;
    position:absolute;
    margin-top: -60px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    object-fit: cover;
}
.titre{
    display:flex;
    align-items: center;
    position: relative;

}
h1{
    font-size: 25px;
    font-family: 'Shrikhand', cursive;
    
    /*background:red;*/
   
}
.fa-heart-o{
  position: absolute;
  right:10%;
  font-size: 23px;
}
.fa-heart{
    font-size: 23px;
    position: absolute;
    right:10%;
    color:transparent;
    background-clip: text;
    -webkit-background-clip:text ;
    background-image:linear-gradient(#FF79DA,#9356DC);
    opacity: 0;
    transition:all 1s;
}
.titre:hover .fa-heart{
    opacity:1;
}


/*.fa-heart-o:hover{
    color:#f67599;
    
}*/
.palette p{
    border-bottom:2px solid #99E2D0;
    width: 40px;
    margin-top: 25px;
    font-size: 20px;
}
/*--debut des animations 1,2,3,4,--*/
.properties{
    margin-top: 20px;
     border:2px solid whitesmoke;
     width: 95%;
     border-radius: 10px;
     height: 7vh;
     background: white;
     padding-left: 5px;
     font-size: 15px;
     padding-top: 4px;
     position: relative;
     animation-name:progressive;
     animation-duration: 1s;
     animation-timing-function: ease;       
 }
 @keyframes progressive{
     0%{
         transform: translatey(15px);
         opacity: 0;
     }
     100%{
        transform: translatey(0);
        opacity: 1;
     
     }
 }
 .properties div{
     position: absolute;
     width:0%;
     background: #99E2D0; 
     right:0;
     bottom: 0;
     text-align: center;
     border-radius: 0px 10px 10px 0px;
     height: 6.4vh;
     padding-top: 15px;
     overflow: hidden;
 }
 .properties:hover div{
    animation:titi 1s linear;
    
}

 @keyframes titi{
     0%{
         width:5%;
     }
     25%{
        width:13%;
     }
     75%{
         width: 13%;
     }
     80%{
        width: 13%;

     }
     90%{
        width: 13%;

     }
     95%{
        width: 13%;


     }
     96%{
        width: 13%;

     }
     97%{
        width: 13%;
     }
     98%{
        width: 13%;

     }
     99%{
        width: 7%;
     }
     100%{
         width:5%;
     }
 }



 .properties .fa-circle-check{
     display:inline-block;  
     transition:transform 1s;
     color:white;
 }
 .properties:hover .fa-circle-check{
    transform:rotate(360deg);

 }
 
 .properties h6{
     text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width:100%;
    transition:width 2s ease-in;
    font-size: 12px;
 }
 .properties:hover h6{
     animation: rentre 2s;
      
 }
 @keyframes rentre{
     0%{
         width:100%;
     }
     25%{
         width:70%;
     }
     50%{
        width:70%;

        
     }
     75%{
        width:100%;

     }
    
    100%{
        width:100%;
     }
    /* 90%{
        width:70%;

     }
     95%{
        width:70%;

     }
     
     96%{
        width:70%;
     }
    
     97%{
        width:70%;

     }
     98%{
        width:70%;
        


     }
     99%{
        width:90%;

     }
     100%{
        width:100%;

     }*/
 }
 
  .montant{
     position:absolute;
     bottom:10%;
     left: 92%;  
}
.properties:hover .montant{
    animation:toto 1s linear;
}
@keyframes toto{
    0%{
        transform:translatex(-40px);
    }
   25%{
        transform:translatex(-100px);
       
         }
        
     
     75%{
        transform:translatex(-100px);
     }
    
    80%{
        transform:translatex(-100px);
     }
     90%{
        transform:translatex(-100px);

     }
     95%{
        transform:translatex(-100px);

     }
     
     96%{
        transform:translatex(-100px);

     }
    
     97%{
        transform:translatex(-100px);

     }
     98%{
        transform:translatex(-100px);


     }
     99%{
        transform:translatex(-20px);

     }
     100%{
        transform:translatex(0px);

     }

}
/*----fin animation 1,2,3,4----*/
 
button{
    width: 20%;
    height: 30%;
    text-align: center;
    color:white;
    border-radius: 25px; 
    margin-left: 18%;
    transition:all 3s;
    background:#FF79DA ;
    opacity: 0.7 ;
}
button:hover{
    opacity:1;
    box-shadow: 5px 5px;

}
.button{
   /* background: red;*/
    width: 50vh;
    width: 90%;
    margin-left: 10%;
    margin-top: 5%;
}

/*pied-de-la-page*/
footer{
    width:100%;
    font-size: 20px;
    color:white;
    padding: 15px;
    background-color:#2A303D;
   /* height: 30vh;*/
    position: absolute;
    bottom:-12%;
    padding-left:4%;
    gap: 7px; 
      
}
h4 em{
    font-size: 15px;
}
footer span:nth-child(2){
    margin-left: 15px; 
    margin-top: 5px; 
    font-size: 20px;  
}
.fa-utensils{
    margin-top: 10px;
}
.pied-page{
    display:flex;
   font-size: 10px;
   margin-top:15px;
}
footer p:nth-child(3){
   margin-left:18px; 
   margin-top: 5px; 
   font-size:20px;  
}
.fa-handshake-angle{
    margin-top: 10px;
}
.pied2{
   display:flex;
   font-size: 10px; 
}
footer p{
    font-size: 18px;
    margin-top: 5px;
}
#pied-page{
    display:flex;
    flex-direction: column;
    gap:7px;
    margin-top:4px;
}
footer a{
    color:white;
}
